/* Dan Berkowitz, berkod2@rpi.edu, dansberkowitz@gmail.com, Feb 2012 */
/* I dont like css */

body {
	width: 98%;
	background-color: rgb(60,60,60);
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	border-style: solid;
	border-width: 1px;
	min-width: 955px;
	width:98%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

div.logo
{
  background-repeat: no-repeat;
  width: 45px;
  height: 43px;
  background-image:url("./images/rpi.jpg");
  float: left;
}

div.red_bar
{ 
  height: 5px;
  width: 100%;
  margin-right: auto;
  margin-left:auto;
  background-color: rgb(247,0,31);
}
div.gray_bar
{
  height: 5px;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left:auto;
  background-color: rgb(60,60,60);
}

#title {
	text-decoration: none;
	text-align: center;
	height: 50px;
	width: 100%;
	position: relative;
}

text {
	text-align: center;
	position: relative;
	vertical-align: middle;
	
}

a.labels {
	font-size: 14px;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
	float: none;
}
a.links {
	color: black;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#logo {
	text-decoration: none;
	color: #222;
	margin-left: 12px;
	font-family: "Arial";
	font-size: 40px;
	float: left;
}

#result {
	margin-top: 20px;
	margin-right: 12px;
	font-size: 12px;
	font-family: monospace;
	float: right;
}

hr {
	margin: 4px;
}

#footer {
	width: 100%;
	height: 75px;
	padding-left: 10px;
	margin-bottom: 10px;	
}

#Stats {
	width: 40%;
	text-align: left;
	float: left;
	display: inline-block;
}

#version {
	font-size: 12px;
	width: 19%;
	text-align: center;
	display: inline-block;
}

#options {
	position: relative;
	width: 40%;
	text-align: right;
	display: inline-block;
}

#working_area {
	min-height: 500px;
}

.removeButton {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 75px;
	height: 25px;
	border-radius: 13px;
	text-align: center;
	font-size: 16px;
}

.myButton_right{

	
}

.myButton_left{
	border-right-width: 0px;
}

.mybutton{
	font-size: 10px;
	width: 50px;
	height: 90%;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
}

.buttonLine{
	height: 20px;
}

.timecardDay{
	text-align: center;
	width: 14%;
	min-width: 150px;
	height: 380px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	display: inline-block;
}